<h2>动物申报
    <small style="color: #666666; font-size: medium">Animal Declaration</small>
    <button class="uk-button uk-button-default uk-button-primary uk-align-right uk-margin-small-top"
            uk-toggle="target: #edit-box">新申报
    </button>
</h2>
<hr class="uk-margin"/>
<p class="uk-text-meta">下面显示的是你申报的所有动物</p>
<div class="uk-alert-primary" uk-alert id="tips" style="display:none">
    <a class="uk-alert-close" uk-close></a>
    <p></p>
</div>
<table class="uk-table uk-table-divider uk-table-striped uk-table-hover">
    <caption></caption>
    <thead>
        <tr>
            <th>牌照号</th>
            <th>隶属</th>
            <th>特征</th>
            <th>状态</th>
            <th>申请人</th>
            <th>更新时间</th>
            <th>更改状态为</th>
        </tr>
    </thead>
    <tbody>
        {% for a in my_animals %}
        <tr>
            <td>{{ a.license }}</td>
            <td>{{ a.binding }}</td>
            <td>{{ a.feature }}</td>
            <td><span class="uk-label {{ a.status_label }}">{{ a.status_text }}</span></td>
            <td>{{ a.nickname }}</td>
            <td>{{ a.declare_time }}</td>
            <td>
                <label>
                    <select class="uk-select options" _id="{{ a.id }}">
                        <option value="0" {% if a.status == 0 %} selected {% endif %}>未知</option>
                        <option value="1" {% if a.status == 1 %} selected {% endif %}>存活</option>
                        <option value="2" {% if a.status == 2 %} selected {% endif %}>丢失</option>
                        <option value="3" {% if a.status == 3 %} selected {% endif %}>死亡</option>
                    </select>
                </label>
            </td>
            <!-- <td><button class="uk-button uk-button-default uk-button-primary uk-align-right" uk-toggle="target: #edit-box">新增</button></td> -->
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div id="edit-box" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">自助上牌</h2>
        </div>
        <div class="uk-modal-body">
            <form class="uk-form-horizontal" name="info">
                {% csrf_token %}
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">牌照号</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="糕A001 测试">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">隶属</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <select id="binding" class="uk-select">
                                <option value="0">个人</option>
                                <option value="1">公共</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">特征</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="feature" type="text" placeholder="例如：白底黑色斑点">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">状态</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <select id="status" class="uk-select">
                                <option value="0">未知</option>
                                <option value="1">存活</option>
                                <option value="2">丢失</option>
                                <option value="3">死亡</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right  ">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button class="uk-button uk-button-primary" type="button" id="save">确认</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(
        $(function() {
            $(".options").change(function() {
                $.post("declare/animals_change_status?_=" + Date.parse(new Date()), {
                    "id": $(this).attr('_id'),
                    "status": $(this).val()
                }, function(obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                        UIkit.modal("#edit-box").hide();
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });


            $("#save").click(function () {

                var binding = $("#binding").val();
                var license = $("#license").val();
                var feature = $("#feature").val();
                var status = $("#status").val();

                $.post("/animals_add?_=" + Date.parse(new Date()), {
                    "binding": binding,
                    "license": license,
                    "feature": feature,
                    "status": status
                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                        UIkit.modal("#edit-box").hide();
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
        })
    );
</script>