<h2>动物申报
    <small style="color: #666666; font-size: medium">Animal Declaration</small>
    <button class="uk-button uk-button-default uk-button-primary uk-align-right uk-margin-small-top"
            uk-toggle="target: #animal-box">新申报
    </button>
</h2>
<hr class="uk-margin"/>
<p class="uk-text-meta">下面显示的是你申报的所有动物和所有共享的动物</p>
<div class="uk-alert-primary" uk-alert id="tips" style="display:none">
    <a class="uk-alert-close" uk-close></a>
    <p></p>
</div>
<table class="uk-table uk-table-divider uk-table-striped uk-table-hover">
    <thead>
    <tr>
        <th class="uk-table-expand">牌照号</th>
        <th class="uk-visible@s">隶属</th>
        <th class="uk-visible@s uk-table-expand">特征</th>
        <th class="uk-table-small">状态</th>
        <th class="uk-visible@l">申请人</th>
        <th class="uk-visible@l">申请时间</th>
        <th class="uk-width-small uk-visible@s">操作</th>
    </tr>
    </thead>
    <tbody>
    {% for a in my_animals %}
        <tr>
            <td class="uk-text-truncate">{{ a.license }}</td>
            <td class="uk-visible@s">{{ a.binding }}</td>
            <td class="uk-visible@s">{{ a.feature }}</td>
            <td><span class="uk-text-truncate uk-label {{ a.status_label }}">{{ a.status_text }}</span></td>
            <td class="uk-visible@l">{{ a.nickname }}</td>
            <td class="uk-visible@l">{{ a.declare_time }}</td>
            <td class="uk-visible@s">
                <label>
                    <select class="uk-select animal_options" _id="{{ a.id }}">
                        <option value="0" {% if a.status == 0 %} selected {% endif %}>未知</option>
                        <option value="1" {% if a.status == 1 %} selected {% endif %}>存活</option>
                        <option value="2" {% if a.status == 2 %} selected {% endif %}>丢失</option>
                        <option value="3" {% if a.status == 3 %} selected {% endif %}>死亡</option>
                    </select>
                </label>
            </td>

            <!-- <td><button class="uk-button uk-button-default uk-button-primary uk-align-right" uk-toggle="target: #edit-box">新增</button></td> -->
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<div id="animal-box" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">自助上牌</h2>
        </div>
        <div class="uk-modal-body">
            <p class="uk-text-meta">[1]普通牌照：
                糕 区域编号 – 种类编号 流水编号 + 昵称/所属人或集团后缀/共享</p>
            <p class="uk-text-meta">[2]友谊牌照：
                糕友·接收方集团英文简称·种类编号 流水编号+昵称</p>
            <p class="uk-text-meta">[3]市政
                糕政·市政人员英文简称·种类类编号 流水号+昵称</p>
            <p class="uk-text-meta">区域编号：糕A（切糕村）/ 糕B（沙漠村）/ 糕C（贸易村）/ 糕D（大河新区）</p>
            <p class="uk-text-meta">种类编号：H 普通马 / S 骷髅马 / D 驴子 / M 骡子 / P 佩奇</p>
            <p class="uk-text-meta">流水编号：请自行按照已登记顺序后推</p>
            <p class="uk-text-meta">样例：糕B-H011 CR、糕D-H002 鱼饼、糕A-H026、糕C-M001 共享</p>
            <form class="uk-form-horizontal" name="info">
                {% csrf_token %}
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">牌照号</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="糕C-M001 共享">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">隶属</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <select id="binding" class="uk-select">
                                <option value="0">个人</option>
                                <option value="1">公共</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">特征</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="feature" type="text" placeholder="例如：白底黑色斑点">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">状态</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <select id="status" class="uk-select">
                                <option value="0">未知</option>
                                <option value="1">存活</option>
                                <option value="2">丢失</option>
                                <option value="3">死亡</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right  ">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button class="uk-button uk-button-primary" type="button" id="save">确认</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(
        $(function () {
            $(".options").change(function () {
                $.post("declare/animals_change_status?_=" + Date.parse(new Date()), {
                    "id": $(this).attr('_id'),
                    "status": $(this).val()
                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                        UIkit.modal("#animal-box").hide();
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });


            $("#save").click(function () {

                var binding = $("#binding").val();
                var license = $("#license").val();
                var feature = $("#feature").val();
                var status = $("#status").val();

                $.post("/animals_add?_=" + Date.parse(new Date()), {
                    "binding": binding,
                    "license": license,
                    "feature": feature,
                    "status": status
                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                        UIkit.modal("#animal-box").hide();
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
        })
    );
</script>