{% load static %}
<h2>建筑申报
    <small style="color: #666666; font-size: medium">Construction Declaration</small>
    <button class="uk-button uk-button-default uk-button-primary uk-align-right uk-margin-small-top"
            uk-toggle="target: #edit-box">新申报
    </button>
</h2>
<hr class="uk-margin"/>
<p class="uk-text-meta">下面显示的是你申报的所有建筑</p>
<div class="uk-alert-primary" uk-alert id="tips" style="display:none">
    <a class="uk-alert-close" uk-close></a>
    <p></p>
</div>
<table class="uk-table uk-table-divider uk-table-striped uk-table-hover">
    <caption></caption>
    <thead>
        <tr>
            <th class="uk-width-medium">建筑名</th>
            <th class="uk-width-medium">建筑面积</th>
            <th class="uk-width-medium">介绍</th>
            <th class="uk-width-medium">建筑时间</th>
            <th class="uk-width-small">申报状态</th>
            <th class="uk-width-small">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-preserve-width uk-border-circle" src="{% static "buildings/times_square.jpg" %}" width="40" alt="">
                    </div>
                    <div class="uk-width-expand">

                        <h4 class="uk-margin-remove-bottom">时代广场</h4>
                        <p class="uk-text-meta uk-margin-remove-top">Times Square</p>
                    </div>
                </div>
            </td>
            <td class="nowrap">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h4 class="uk-margin-remove-bottom">788,910 M<sup>2</sup></h4>
                        <p class="uk-text-meta uk-margin-remove-top">XYZ: -2273, 165, 2267</p>
                    </div>
                </div>
            </td>
            <td class="nowrap">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h4 class="uk-margin-remove-bottom">世界的十字路口</h4>
                        <p class="uk-text-truncate uk-text-meta uk-margin-remove-top">百老汇上的剧院、大量耀眼的霓虹光管广告、以及电视式的宣传版，已经深入成为象征纽约的标志，反映曼哈顿强烈的都市特性。时报广场是市内唯一在规划法令内，要求业主“必须”悬挂亮眼宣传版的地区。</p>
                    </div>
                </div>
            </td>
            <td class="nowrap">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <p class="uk-margin-remove-bottom uk-margin-remove-top">预计开工：2018/7/12</p>
                        <p class="uk-margin-remove-bottom uk-margin-remove-top">预计结束：2018/7/30</p>
                    </div>
                </div>
            </td>
            <td>
                <span class="uk-label uk-label-warning" style="vertical-align: middle">正在审核</span>
            </td>
            <td>
                <select id="options" class="uk-select">
                    <option value="0">...</option>
                    <option value="1">标记为完工</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>


<div id="edit-box" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">建筑申报</h2>
        </div>
        <div class="uk-modal-body">
            <form class="uk-form-horizontal" name="info">
                {% csrf_token %}
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">建筑名</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="如 私人住宅">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">英文名</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">建筑简介</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="如 私人住宅">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">建筑详细介绍</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="如 私人住宅">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">建筑坐标</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="如 私人住宅">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">建筑面积</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="如 33,496 M²">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">预计开始时间</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="如 私人住宅">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">预计结束时间</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="如 私人住宅">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">概念图</label>
                        </div>
                        <div class="uk-width-4-5@s upload concept" uk-form-custom>
                            {% csrf_token %}
                            <input type="file" multiple>
                            <button class="uk-button uk-button-default" type="button" tabindex="-1">选择文件</button>
                            <p>文件格式：jpg jpeg gif png</p>
                        </div>
                        <progress id="progress_concept" class="uk-progress" value="0" max="100" hidden></progress>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">平面图</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="如 私人住宅">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">透视图</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="license" type="text" placeholder="如 私人住宅">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">建筑类型</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <select class="uk-select">
                                <option value="0">公共建筑</option>
                                <option value="1">私有建筑</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">状态</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <select id="status" class="uk-select">
                                <option value="0">未知</option>
                                <option value="1">存活</option>
                                <option value="2">丢失</option>
                                <option value="3">死亡</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right  ">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button class="uk-button uk-button-primary" type="button" id="save">确认</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(
        $(function () {
            $("#options").change(function () {
                console.log("23224")
            });


            $("#save").click(function () {

                var binding = $("#binding").val();
                var license = $("#license").val();
                var feature = $("#feature").val();
                var status = $("#status").val();

                $.post("/animals_add", {
                    "binding": binding,
                    "license": license,
                    "feature": feature,
                    "status": status
                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                        UIkit.modal("#edit-box").hide();
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
        })
    );

    var bar_concept = document.getElementById('progress_concept');

    UIkit.upload('.upload', {
        url: '/upload_building_picture$',
        multiple: false,
        allow : '*.(jpg|jpeg|gif|png)',


        beforeSend: function (env) {
            console.log(this);
            env.headers = {"X-CSRFToken": getCookie("csrftoken")};

            console.log('beforeSend', arguments);
        },
        loadStart: function (e) {
            bar_concept.removeAttribute('hidden');
            bar_concept.max = e.total;
            bar_concept.value = e.loaded;
        },

        progress: function (e) {
            bar_concept.max = e.total;
            bar_concept.value = e.loaded;
        },

        loadEnd: function (e) {
            bar_concept.max = e.total;
            bar_concept.value = e.loaded;
        },

        completeAll: function (xhr) {
            completeAll(xhr.responseText, bar_concept);
        }

    });

    function completeAll(responseText, progressBar){
        obj = JSON.parse(responseText);

        if(obj.status === "ok")
        {
            $("#msg").text("修改成功，刷新页面后生效");
            UIkit.notification({message: obj.msg, status: 'success'});
        }
        else
        {
            $("#msg").text("修改失败");
            UIkit.notification({message: obj.msg, status: 'danger'});
        }

        setTimeout(function () {
            progressBar.setAttribute('hidden', 'hidden');
        }, 1000);
    }
</script>
