{% load static %}
<h2>申报中心
    <small style="color: #666666; font-size: medium">Declaration Center</small>
</h2>
<hr class="uk-margin"/>
<p class="uk-text-meta">各位村民，这里是申报大厅，你可以查看所有玩家的申报项目。</p>
<ul uk-tab>
    <li class="uk-active"><a href="#">建筑申报</a></li>
    <li><a href="#">动物申报</a></li>
</ul>
{#TODO: 把这些个表单什么的，分离开，让代码复用率变高。就是把center.html的和buildings.html的#}
{#TODO: 和animals.html的合起来用一个，比如叫“BuildingList.html” 然后 include这个buildinglist.html#}
<ul class="uk-switcher uk-margin">
    <li class="uk-active">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-small uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-width-medium">建筑名</th>
                    <th class="uk-width-medium">建筑面积</th>
                    <th class="uk-width-medium">介绍</th>
                    <th class="uk-width-medium">建筑时间</th>
                    <th class="uk-width-small">状态</th>
                    {% if '%police_cases_modify%' in permissions %}
                        <th class="uk-width-small">操作</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for b in buildings %}
                    <tr>
                        <td>
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-preserve-width uk-border-circle"
                                         src="{{ b.logo }}"
                                         width="40" alt="">
                                </div>
                                <div class="uk-width-expand">

                                    <h4 class="uk-margin-remove-bottom">{{ b.name }}</h4>
                                    <p class="uk-text-meta uk-margin-remove-top">{{ b.english_name }}</p>
                                </div>
                            </div>
                        </td>
                        <td class="nowrap">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h4 class="uk-margin-remove-bottom">{{ b.area }} M<sup>2</sup></h4>
                                    <p class="uk-text-meta uk-margin-remove-top">XYZ: {{ b.coordinate }}</p>
                                </div>
                            </div>
                        </td>
                        <td class="nowrap">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h4 class="uk-margin-remove-bottom">{{ b.summary }}</h4>
                                    <p class="uk-text-truncate uk-text-meta uk-margin-remove-top">
                                        {{ b.detail }}</p>
                                </div>
                            </div>
                        </td>
                        <td class="nowrap">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <p class="uk-margin-remove-bottom uk-margin-remove-top">
                                        预计开工：{{ b.predict_start_time }}</p>
                                    <p class="uk-margin-remove-bottom uk-margin-remove-top">
                                        预计结束：{{ b.predict_end_time }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="uk-label {{ b.status_label }}"
                                  style="vertical-align: middle">{{ b.status_text }}</span>
                        </td>
                        {% if '%declaration_buildings_modify%' in permissions %}
                            <td>
                                <label>
                                    <select class="uk-select building_options" _id="{{ b.id }}">
                                        <option value="-1">...</option>
                                        <option value="0">申报挂起</option>
                                        <option value="1">正在审核</option>
                                        <option value="2">审核不通过</option>
                                        <option value="3">审核通过</option>
                                        <option value="4">正在建设</option>
                                        <option value="5">完工</option>
                                    </select>
                                </label>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-small uk-table-divider">
                <thead>
                <tr>
                    <th>牌照号</th>
                    <th>隶属</th>
                    <th>特征</th>
                    <th>状态</th>
                    <th>申请人</th>
                    <th>更新时间</th>
                    {% if '%police_cases_modify%' in permissions %}
                        <th class="uk-width-small">操作</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for a in animals %}
                    <tr>
                        <td>{{ a.license }}</td>
                        <td>{{ a.binding }}</td>
                        <td>{{ a.feature }}</td>
                        <td><span class="uk-label {{ a.status_label }}">{{ a.status_text }}</span></td>
                        <td>{{ a.nickname }}</td>
                        <td>{{ a.declare_time }}</td>
                        {% if '%police_cases_modify%' in permissions %}
                            <td>
                                <label>
                                    <select class="uk-select animal_options" _id="{{ a.id }}">
                                        <option value="0" {% if a.status == 0 %} selected {% endif %}>未知</option>
                                        <option value="1" {% if a.status == 1 %} selected {% endif %}>存活</option>
                                        <option value="2" {% if a.status == 2 %} selected {% endif %}>丢失</option>
                                        <option value="3" {% if a.status == 3 %} selected {% endif %}>死亡</option>
                                    </select>
                                </label>
                            </td>
                        {% endif %}
                        <!-- <td><button class="uk-button uk-button-default uk-button-primary uk-align-right" uk-toggle="target: #edit-box">新增</button></td> -->
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
</ul>
<script>
    $(document).ready(
        $(function () {
            $(".building_options").change(function () {
                $.post("declare/buildings_change_status?_=" + Date.parse(new Date()), {
                    "id": $(this).attr('_id'),
                    "status": $(this).val()
                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
            $(".animal_options").change(function () {
                $.post("declare/animals_change_status?_=" + Date.parse(new Date()), {
                    "id": $(this).attr('_id'),
                    "status": $(this).val()
                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
        })
    );
