{% load static %}
<h2>申报中心
    <small style="color: #666666; font-size: medium">Declaration Center</small>
</h2>
<hr class="uk-margin"/>
<p class="uk-text-meta">各位村民，这里是申报大厅，你可以查看所有玩家的申报项目。</p>
<ul uk-tab id="tab">
    <li class="uk-active" ><a href="#" data-url="declare/buildings_list">建筑登记({{ buildings}}) </a></li>
    <li><a href="#" data-url="declare/animals_list">动物申报({{ animals}}) </a></li>
    {% if '%op%' in permissions %}
    <li><a href="#" data-url="declare/skull_list">头颅定制({{ skull}})</a></li>
    <li><a href="#" data-url="declare/maps_list">地图定制({{ maps}})</a></li>
    {% endif %}
</ul>
{#TODO: 把这些个表单什么的，分离开，让代码复用率变高。就是把center.html的和buildings.html的#}
{#TODO: 和animals.html的合起来用一个，比如叫“BuildingList.html” 然后 include这个buildinglist.html#}
<div class="uk-overflow-auto" id="list">
        
</div>

<script>
    function buildingDetail(id_) {
        var id = id_.substring(8); 
        console.log(id_);
        $.get("/buildings_detail", {
            "id": id
        }, function (data) {
            UIkit.modal.dialog(data);
        });
    }

    $(document).ready(
        $(function () {
            
            $(".animal_options").change(function () {
                $.post("declare/animals_change_status?_=" + Date.parse(new Date()), {
                    "id": $(this).attr('_id'),
                    "status": $(this).val()
                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
            $(".del").click(function() {
                var _this = $(this);
                $.post("declare/animals_del?_=" + Date.parse(new Date()), {
                    "id":_this.attr("_id")
                }, function(obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                        _this.parents("tr").remove();
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
            $("#tab a").click(function(){
                list($(this).data("url"),1,"all")
            });
            $("#tab .uk-active a").click()
            
        })
        

        
    );
    
    