{% load static %}
<h2>新糕须知
    <small style="color: #666666; font-size: medium">You must know</small>
</h2>
<hr class="uk-margin"/>
<p class="uk-text-meta">如果显示不正常，改变浏览器尺寸即可</p>
<a href="https://docs.qq.com/doc/B08b5w10PPoZ0CLlK21FFPbn0mScP63ZmZgl3IQmKC2Cjyb92Zoj5Z0dyoIe2vnRX54GyL0i0" target="_blank">新标签页打开</a>
<iframe id="frame" src="https://docs.qq.com/doc/B08b5w10PPoZ0CLlK21FFPbn0mScP63ZmZgl3IQmKC2Cjyb92Zoj5Z0dyoIe2vnRX54GyL0i0" width="100%" height="100%"></iframe>
<script>
    $(function(){
        document.getElementById("frame").height=window.innerHeight-243;
    });

</script>