{% load static %}
<h2>警署大厅
    <small style="color: #666666; font-size: medium">Police Hall</small>
</h2>
<hr class="uk-margin"/>
<p class="uk-text-meta">各位村民，如果你在游戏中遇到了疑似自然或人为破坏，导致建筑或财产造成损失的，请登记资料，以便之后工作人员调查。</p>
<ul uk-tab id="tab">
    <li class="uk-active"><a href="#" data-type="all">所有报案</a></li>
    <li><a href="#" data-type="user">我的报案</a></li>
</ul>

<div id="list"></div>

<script>
        $(function() {
            $("#tab a").click(function(){
                list("police/police_list",1,$(this).data("type"))
            });
            $("#tab .uk-active a").click()
        })
</script>