{% load static %}
<h2>警署大厅
    <small style="color: #666666; font-size: medium">Police Hall</small>
</h2>
<hr class="uk-margin"/>
<p class="uk-text-meta">各位村民，如果你在游戏中遇到了疑似自然或人为破坏，导致建筑或财产造成损失的，请登记资料，以便之后工作人员调查。</p>
<ul uk-tab>
    <li class="uk-active"><a href="#">所有报案</a></li>
    <li><a href="#">我的报案</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li class="uk-active">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-small uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-width-medium uk-visible@s">报案者</th>
                    <th class="uk-width-medium uk-visible@s">案发地点</th>
                    <th class="uk-table-expand">案件简述</th>
                    <th class="uk-width-small">状态</th>

                    {% if '%police_cases_modify%' in permissions %}
                        <th class="uk-width-small uk-visible@s">操作</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for c in cases %}
                    <tr>
                        <td class="uk-visible@s">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto uk-visible@m">
                                    <a><img class="uk-preserve-width uk-border-circle" src="{{ c.avatar }}" width="40"
                                            alt="" id="summary-{{ c.id }}" onclick="openModal(this.id)"></a>
                                </div>
                                <div class="uk-width-expand">

                                    <h4 class="uk-margin-remove-bottom"><a id="summary-{{ c.id }}" class="uk-link-reset"
                                                                           onclick="openModal(this.id)">{{ c.nickname }}</a>
                                    </h4>
                                    <p class="uk-text-meta uk-margin-remove-top uk-visible@m">{{ c.report_time }}</p>
                                </div>
                            </div>
                        </td>
                        <td class="nowrap uk-visible@s">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h4 class="uk-margin-remove-bottom"><a id="summary-{{ c.id }}" class="uk-link-reset"
                                                                           onclick="openModal(this.id)">{{ c.position }}</a>
                                    </h4>
                                    <p class="uk-text-meta uk-margin-remove-top">{{ c.coordinate }}</p>
                                </div>
                            </div>
                        </td>
                        <td class="nowrap">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h4 class="uk-margin-remove-bottom"><a id="summary-{{ c.id }}" class="uk-link-reset"
                                                                           onclick="openModal(this.id)">{{ c.summary }}</a>
                                    </h4>
                                    <p class="uk-text-truncate uk-text-meta uk-margin-remove-top">{{ c.detail }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="uk-label {{ c.status_label }}"
                                  style="vertical-align: middle">{{ c.status_text }}</span>
                        </td>
                        {% if '%police_cases_modify%' in permissions %}
                            <td class="uk-visible@s">
                                <label>
                                    <select class="uk-select" id="options-{{ c.id }}" onchange="change(this.id)">
                                        <option value="-1">...</option>
                                        <option value="0">等待调查</option>
                                        <option value="1">正在调查</option>
                                        <option value="2">处理成功</option>
                                        <option value="3">处理失败</option>
                                    </select>
                                </label>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-small uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-width-medium uk-visible@s">报案者</th>
                    <th class="uk-width-medium uk-visible@s">案发地点</th>
                    <th class="uk-table-expand">案件简述</th>
                    <th class="uk-width-small">状态</th>

                    {% if '%police_cases_modify%' in permissions %}
                        <th class="uk-width-small uk-visible@s">操作</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for c in my_cases %}
                    <tr>
                        <td class="uk-visible@s">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <a><img class="uk-preserve-width uk-border-circle" src="{{ c.avatar }}" width="40"
                                            alt="" id="summary-{{ c.id }}" onclick="openModal(this.id)"></a>
                                </div>
                                <div class="uk-width-expand">

                                    <h4 class="uk-margin-remove-bottom"><a id="summary-{{ c.id }}" class="uk-link-reset"
                                                                           onclick="openModal(this.id)">{{ c.nickname }}</a>
                                    </h4>
                                    <p class="uk-text-meta uk-margin-remove-top">{{ c.report_time }}</p>
                                </div>
                            </div>
                        </td>
                        <td class="nowrap uk-visible@s">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h4 class="uk-margin-remove-bottom"><a id="summary-{{ c.id }}" class="uk-link-reset"
                                                                           onclick="openModal(this.id)">{{ c.position }}</a></h4>
                                    <p class="uk-text-meta uk-margin-remove-top">{{ c.coordinate }}</p>
                                </div>
                            </div>
                        </td>
                        <td class="nowrap">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h4 class="uk-margin-remove-bottom"><a id="summary-{{ c.id }}" class="uk-link-reset"
                                                                           onclick="openModal(this.id)">{{ c.summary }}</a>
                                    </h4>
                                    <p class="uk-text-truncate uk-text-meta uk-margin-remove-top">{{ c.detail }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="uk-label {{ c.status_label }}"
                                  style="vertical-align: middle">{{ c.status_text }}</span>
                        </td>
                        {% if '%police_cases_modify%' in permissions %}
                            <td class="uk-visible@s">
                                <label>
                                    <select class="uk-select" id="options-{{ c.id }}" onchange="change(this.id)">
                                        <option value="-1">...</option>
                                        <option value="0">等待调查</option>
                                        <option value="1">正在调查</option>
                                        <option value="2">处理成功</option>
                                        <option value="3">处理失败</option>
                                    </select>
                                </label>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
</ul>


<script>
    function openModal(id_) {
        var id = id_.substring(8);
        $.get("/police_case_detail", {
            "id": id
        }, function (data) {
            UIkit.modal.dialog(data);
        });
    }

    function changeMy(id_) {
        var id = id_.substring(10);
        var new_status = $("#" + id_).val();

        if (id === "-1")
            return;

        $.post("/police_change_status", {
            "id": id,
            "new_status": new_status
        }, function (obj) {
            if (obj.status === "ok") {
                UIkit.notification({
                    message: obj.msg,
                    status: 'success',
                    timeout: 2000
                });
            } else {
                UIkit.notification({
                    message: obj.msg,
                    status: 'danger',
                    timeout: 2000
                })
            }
        }, "json")
    }

    function change(id_) {
        var id = id_.substring(8);
        var new_status = $("#" + id_).val();
        console.log(id_, id, new_status, typeof(id));
        $.post("/police_change_status", {
            "id": id,
            "new_status": new_status
        }, function (obj) {
            if (obj.status === "ok") {
                UIkit.notification({
                    message: obj.msg,
                    status: 'success',
                    timeout: 2000
                });
            } else {
                UIkit.notification({
                    message: obj.msg,
                    status: 'danger',
                    timeout: 2000
                })
            }
        }, "json")


    }


</script>