<div class="uk-modal-header">
    <h2 class="uk-modal-title">发布新公告</h2>
</div>
<div class="uk-modal-body">
    <form class="uk-form-horizontal">
        {% csrf_token %}
        <div class="uk-margin">
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-5@s">
                    <label class="uk-form-label" for="form-horizontal-text">公告标题</label>
                </div>
                <div class="uk-width-4-5@s">
                    <input class="uk-input" id="title" type="text" placeholder="">
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-5@s">
                    <label class="uk-form-label" for="form-horizontal-text">严重程度</label>
                </div>
                <div class="uk-width-4-5@s">
                    <select class="uk-select" id="type">
                        <option value="0">通知</option>
                        <option value="1">警告</option>
                        <option value="2">严重</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-5@s">
                    <label class="uk-form-label" for="form-horizontal-text">公告内容</label>
                </div>
                <div class="uk-width-4-5@s">
                                        <textarea class="uk-textarea" id="content" rows="5"
                                                  placeholder=""></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
    <button class="uk-button uk-button-primary" type="button" id="publish">发布</button>
</div>

<script>
    $(document).ready(
        $(function () {
            $("#publish").click(function () {

                var title = $("#title").val();
                var type = $("#type").val();
                var content = $("#content").val();


                $.post("/announcement_new?_=" + Date.parse(new Date()), {
                    "title": title,
                    "type": type,
                    "content": content
                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                        UIkit.modal("#modal-center").hide();
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
        })
    );
</script>