{% load static %}
<h2>{{book.title}}
    <small style="color: #666666; font-size: medium">CMS Manage <a href="javascript:window.location.href='#cms_book_list';window.location.reload()">返回连载列表</a></small>
    <button class="uk-button uk-button-default uk-button-primary uk-align-right uk-margin-small-top" id="edit"
            uk-toggle="target: #building-box">新章节
    </button>
</h2>
<hr class="uk-margin"/>
<p class="uk-text-meta">下面显示的是你发布的所有章节</p>
<div class="uk-alert-primary" uk-alert id="tips" style="display:none">
    <a class="uk-alert-close" uk-close></a>
    <p></p>
</div>
<div id="list">

</div>
<script type="text/javascript" src="{% static "assets/js/wangEditor.min.js"%}"></script>
<script type="text/javascript" src="{% static "assets/js/cos-js-sdk-v5.min.js"%}"></script>


<div id="building-box" class="uk-flex-top" bg-close="false" esc-close="false" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical  uk-width-1-1@m uk-width-2-3@l uk-width-1-2@xl"  >

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">章节管理</h2>
        </div>
        <div class="uk-modal-body">
            <form class="uk-form-horizontal" name="info">
                {% csrf_token %}
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">名称</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input class="uk-input" id="name" type="text" placeholder="如 初入切糕">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">章节内容</label>
                        </div>
                        <div class="uk-width-4-5@s">
                        <div id="summary"></div>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="uk-margin">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-5@s">
                            <label class="uk-form-label" for="form-horizontal-text">建筑类型</label>
                        </div>
                        <div class="uk-width-4-5@s">
                            <input type="radio" class="uk-radio" name='type' checked value="0">立即发布
                            <input type="radio" class="uk-radio" name='type' value="1">定时发布
                        </div>
                    </div>
                </div> {% endcomment %}
                <input type="hidden" id="id" >
                <input type="hidden" name="type" value="1" >
                <input type="hidden" id="book_id" value="{{book.id}}" >
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right  ">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button class="uk-button uk-button-primary" type="button" id="save">确认</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var book_id={{book.id}};
    function chapter_list(page=1){
        loading()
        $.post("cms/chapter_list",{page:page,id:book_id},function(data){
            $("#list").html(data);
            loading()
        })
    }
    var editor
    $(function (){
        var E = window.wangEditor
        editor = new E('#summary')
        editor.customConfig.customUploadImg=function (files, insert) {
            // files 是 input 中选中的文件列表
            // insert 是获取图片 url 后，插入到编辑器的方法
            var file = files[0];
            if (!file) return;
            _filename=file.name.split('.');
            // 分片上传文件
            cos.sliceUploadFile({
                Bucket: Bucket,
                Region: "ap-guangzhou",
                Key: 'hall.qiegaoshijie.club/' + guid() +"."+_filename[_filename.length-1],
                Body: file,
            }, function (err, data) {
                insert("http://"+data.Location)
            });
            // 上传代码返回结果之后，将图片插入到编辑器中
        }
        editor.create()
        
function guid() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
        return v.toString(16);
    });
}
        // 初始化腾讯cos上传
var Bucket = 'qiegao-1252250917';
var cos = new COS({
    SecretId: 'AKIDyd6GhzJ2s3Yq6BdHG9vPo7pV3QRxuPjx',
    SecretKey: 'DFC1gBVjmePDvUwDOVWPvMdkgU9cy66y',
});
    });

    $(document).ready(
        $(function () {

            
            chapter_list()
            
            $(".building_options").change(function () {
                $.post("declare/buildings_change_status?_=" + Date.parse(new Date()), {
                    "id": $(this).attr('_id'),
                    "status": $(this).val()
                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                        UIkit.modal("#building-box").hide();
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
            $("#save").click(function () {
                var name = $("#name").val();
                var summary = editor.txt.html()
                var type = $("[name=type]").val();
                var id=$("#id").val()
                var book_id=$("#book_id").val()

                $.post("/cms/chapter_add?_=" + Date.parse(new Date()), {
                    "name": name,
                    "summary": summary,
                    "type": type,
                    "id":id,
                    "book_id":book_id

                }, function (obj) {
                    if (obj.status === "ok") {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                        UIkit.modal("#building-box").hide();
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });

            $("[name=type]").change(function(){
                if($(this).val()==1){
                    $(".time").removeClass("uk-hidden");
                }else{
                    $(".time").addClass("uk-hidden");
                }
            });
        })
    );
    $("#list").on("click",".edit",function(){
        $.post("/cms/chapter_info",{id:$(this).data("id")},function(data){
            if (data.id !=undefined) {
                $("#edit").click();
                editor.txt.html(data.summary)
                $("#name").val(data.name);
                $("#id").val(data.id)
            } else {
                UIkit.notification({
                    message: '<span uk-icon=\'icon: close\'></span> ' + data.msg,
                    status: 'danger',
                    timeout: 2000
                })
            }
            
        },"json")
        return false;
    });
    $("#edit").click(function(){
         editor.txt.html("")
        $("#name").val("");
        $("#id").val("")
    });


       
        // 初始化七牛上传的方法
        function uploadInit() {
            var btnId = editor.imgMenuId;
            var containerId = editor.toolbarElemId;
            var textElemId = editor.textElemId;
            // 创建上传对象
            var uploader = Qiniu.uploader({
                runtimes: 'html5,flash,html4',    //上传模式,依次退化
                browse_button: btnId,       //上传选择的点选按钮，**必需**
                uptoken_url: '/uptoken',
                    //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）
                // uptoken : '<Your upload token>',
                    //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
                // unique_names: true,
                    // 默认 false，key为文件名。若开启该选项，SDK会为每个文件自动生成key（文件名）
                // save_key: true,
                    // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK在前端将不对key进行任何处理
                domain: 'http://7xrjl5.com1.z0.glb.clouddn.com/',
                    //bucket 域名，下载资源时用到，**必需**
                container: containerId,           //上传区域DOM ID，默认是browser_button的父元素，
                max_file_size: '100mb',           //最大文件体积限制
                flash_swf_url: '../js/plupload/Moxie.swf',  //引入flash,相对路径
                filters: {
                        mime_types: [
                          //只允许上传图片文件 （注意，extensions中，逗号后面不要加空格）
                          { title: "图片文件", extensions: "jpg,gif,png,bmp" }
                        ]
                },
                max_retries: 3,                   //上传失败最大重试次数
                dragdrop: true,                   //开启可拖曳上传
                drop_element: textElemId,        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
                chunk_size: '4mb',                //分块上传时，每片的体积
                auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
                init: {
                    'FilesAdded': function(up, files) {
                        plupload.each(files, function(file) {
                            // 文件添加进队列后,处理相关的事情
                            printLog('on FilesAdded');
                        });
                    },
                    'BeforeUpload': function(up, file) {
                        // 每个文件上传前,处理相关的事情
                        printLog('on BeforeUpload');
                    },
                    'UploadProgress': function(up, file) {
                        // 显示进度
                        printLog('进度 ' + file.percent)
                    },
                    'FileUploaded': function(up, file, info) {
                        // 每个文件上传成功后,处理相关的事情
                        // 其中 info 是文件上传成功后，服务端返回的json，形式如
                        // {
                        //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
                        //    "key": "gogopher.jpg"
                        //  }
                        printLog(info);
                        // 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html
                        
                        var domain = up.getOption('domain');
                        var res = $.parseJSON(info);
                        var sourceLink = domain + res.key; //获取上传成功后的文件的Url
                        printLog(sourceLink);
                        // 插入图片到editor
                        editor.cmd.do('insertHtml', '<img src="' + sourceLink + '" style="max-width:100%;"/>')
                    },
                    'Error': function(up, err, errTip) {
                        //上传出错时,处理相关的事情
                        printLog('on Error');
                    },
                    'UploadComplete': function() {
                        //队列文件处理完毕后,处理相关的事情
                        printLog('on UploadComplete');
                    }
                    // Key 函数如果有需要自行配置，无特殊需要请注释
                    //,
                    // 'Key': function(up, file) {
                    //     // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                    //     // 该配置必须要在 unique_names: false , save_key: false 时才生效
                    //     var key = "";
                    //     // do something with key here
                    //     return key
                    // }
                }
            });
            // domain 为七牛空间（bucket)对应的域名，选择某个空间后，可通过"空间设置->基本设置->域名设置"查看获取
            // uploader 为一个plupload对象，继承了所有plupload的方法，参考http://plupload.com/docs
        }
        // 封装 console.log 函数
        function printLog(title, info) {
            window.console && console.log(title, info);
        }

    
</script>
