{% load static %}
<h2>日志管理
    <small style="color: #666666; font-size: medium">Menu Manage</small>
</h2>
<hr class="uk-margin" />
<p class="uk-text-meta">日志列表 </p>
<div class="uk-alert-primary" uk-alert id="tips" style="display:none">
    <a class="uk-alert-close" uk-close></a>
    <p></p>
</div>
<ul uk-tab id="tab">
    <li class="uk-active" ><a href="#" >建筑申报</a></li>
    <li><a href="#" >动物申报</a></li>
    <li><a href="#" >地图画</a></li>
</ul>
<div id="list"></div>
    
      
<script>
    $(function() {
        $("#tab a").click(function(){
            list("system/logs_list",1,$(this).html())
        });
        $("#tab .uk-active a").click()
    })
</script>