{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>切糕世界 - 用户协议</title>
    {% load static %}
    <link href="{% static "favicon.ico" %}" rel="shortcut icon">
    <link rel="stylesheet" href="{% static "assets/css/uikit.min.css" %}" />
    <script src="{% static "assets/js/jquery-3.2.1.js" %}"></script>
    <script src="{% static "assets/js/uikit.min.js" %}"></script>
  </head>

<style media="screen">
  .bkg {
    background-color: #F2F2F2;
  }
</style>
  <body class="bkg">
    <div class="uk-container uk-container-large" >
      <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match " uk-grid>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">切糕世界使用协议</h3>
                <div class=WordSection1 style='layout-grid:15.6pt'>
                  <p><b>【首部及导言】</b></p>
                  <p>为使用切糕世界（以下简称“本网站”）及服务，你应当阅读并遵守《切糕世界使用协议》（以下简称“本协议”）。请你务必审慎阅读、充分理解各条款内容。</p>

                  <p>若您不同意本协议中所述服务条款或其后对协议条款的修改，您应不使用或主动取消本网站提供的相关服务。您的使用行为将视作对本协议全部条款的<b>完全接受</b>。你的下载、安装、使用、登录等行为即视为你已阅读并同意上述协议的约束。</p>

                  <p><b>如果你未满<span lang=EN-US>18</span>周岁，请在法定监护人的陪同下阅读本协议及其他上述协议，并特别注意未成年人使用条款。</b></p>
                  <p><span lang=EN-US>&nbsp;</span></p>
                  <p><b>一、协议的范围</b></p>
                  <p><span lang=EN-US>1.1 </span>协议适用主体范围</p>
                  <p>本协议是你与本程序作者间关于你下载、安装、适用、复制本网站，以及使用本网站相关服务所订立的协议。“本程序作者”是指切糕世界的开发者，以下简称“作者”。“用户”是指使用本网站及相关服务的使用人，在本协议中更多的称为“您”。</p>
                  <p><span lang=EN-US>&nbsp;</span></p>

                  <p><b>二、关于本服务</b></p>

                  <p><span lang=EN-US>2.1 </span>本服务的内容</p>

                  <p>本服务内容是指作者向用户提供的辅助工具（以下简称“切糕世界”），支持单人、多人登录，在帮助用户完成机械化任务的基础上，同时为用户提供包括但不限于弹幕收集、数据统计、便捷工具、开放平台等功能或内容的软件许可及服务（以下简称“本服务”）。</p>

                  <p><span lang=EN-US>2.2 </span>本服务的形式</p>

                  <p><span lang=EN-US>2.2.1 </span>你使用本服务需要下载切糕世界客户端软件，对于这些软件，作者给予你一项个人的、不可转让及非排他性的许可。你仅可为访问或使用本服务的目的而使用这些软件及服务。</p>

                  <p><span lang=EN-US>2.2.2 </span>本服务中切糕世界客户端软件提供包括但不限于<span
                  lang=EN-US> Windows</span>、<span lang=EN-US>Linux </span>等多个应用版本，用户必须选择与所安装终端设备相匹配的软件版本。</p>

                  <p><span lang=EN-US>2.3 </span>本服务许可的范围</p>

                  <p><span lang=EN-US>2.3.1 </span>作者给予你一项个人的、不可转让及非排他性的许可，以使用本网站。你可以为非商业目的在单一台中管设备上安装、使用、显示、运行本网站。</p>

                  <p><span lang=EN-US>2.3.2 </span>你可以为使用本网站及服务的目的复制本网站的一个副本，仅用作备份。备份副本必须包含原软件中含有的所有著作权信息。</p>

                  <p><b><span lang=EN-US>2.3.3 </span>本条及本协议其他条款未明示授权的其他一切权利仍由作者保留，你在行使这些权利时须另外取得作者的书面许可。作者如果未行使前述任何权利，并不构成对该权利的放弃。</b></p>

                  <p><b><span lang=EN-US>&nbsp;</span></b></p>

                  <p><b>三、软件的获取</b></p>

                  <p><span lang=EN-US>3.1 </span>你可以直接从作者的网站上获取本网站，也可以从得到作者授权的第三方获取。</p>

                  <p><b><span lang=EN-US>3.2 </span>如果你从未经作者授权的第三方获取本网站或与本网站名称相同的安装程序，作者无法保证该软件能够正常使用，并对因此给你造成的损失不予负责。</b></p>

                  <p><b><span lang=EN-US>&nbsp;</span></b></p>

                  <p><b>四、软件的安装与卸载</b></p>

                  <p><span lang=EN-US>4.1 </span>作者可能为不同的终端设备开发了不同的软件版本，你应当根据实际情况选择下载合适的版本。</p>

                  <p><span lang=EN-US>4.2 </span>下载程序后，你需要按照该程序提示的步骤正确使用该程序。</p>

                  <p><span lang=EN-US>4.3 </span>为提供更加优质、安全的服务，在本网站安装时作者可能推荐你安装其他软件，你可以选择安装或不安装。</p>

                  <p><span lang=EN-US>4.4 </span>如果你不再需要使用本网站或者需要安装新版软件，可以自行卸载。如果你愿意帮助作者改进产品服务，请告知卸载的原因。</p>

                  <p><b><span lang=EN-US>&nbsp;</span></b></p>

                  <p><b>五、软件的更新</b></p>

                  <p><span lang=EN-US>5.1 </span>为了改善用户体验、完善服务内容，作者将不断努力开发新的服务，并为你不时提供软件更新（这些更新可能会采取软件替换、修改、功能强化、版本升级等形式）。</p>

                  <p><span lang=EN-US>5.2 </span>为了保证本网站及服务的安全性和功能的一致性，作者有权不经向你特别通知而对软件进行更新，或者对软件的部分功能效果进行改变或限制。</p>

                  <p><span lang=EN-US>5.3 </span>本网站新版本发布后，旧版本的软件可能无法使用。作者不保证旧版本网站继续可用及相应的客户服务，请你随时核对并下载最新版本。</p>

                  <p><span lang=EN-US>&nbsp;</span></p>

                  <p><b>六、用户个人信息保护</b></p>

                  <p><span lang=EN-US>6.1 </span>保护用户个人信息是作者的一项基本原则，作者将会采取合理的措施保护用户的个人信息。除法律法规规定的情形外，未经用户许可作者不会向第三方公开、透露用户个人信息。作者对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。</p>

                  <p><span lang=EN-US>6.2 </span>当用户使用本网站及服务时，用户应当提供匿名信息。作者收集匿名信息的目的是了解本网站及服务的用户数量，并为用户提供尽可能多的便利。</p>

                  <p><span lang=EN-US>6.3 </span>未经你的同意，作者不会向作者以外的任何公司、组织和个人披露你的个人信息，但法律法规另有规定的除外。</p>

                  <p><span lang=EN-US>&nbsp;</span></p>

                  <p><b>七、主权利义务条款</b></p>

                  <p><span lang=EN-US>7.1 </span>用户注意事项</p>

                  <p><span lang=EN-US>7.1.1 </span>你理解并同意：为了向你提供有效的服务，本网站会利用你终端设备的处理器和带宽等资源。本网站使用过程中可能产生数据流量的费用，用户需自行向运营商了解相关资费信息，并自行承担相关费用。</p>

                  <p><span lang=EN-US>7.1.2 </span>你在使用本网站某一特定服务时，该服务可能会另有单独的协议、相关业务规则等（以下统称为<span
                  lang=EN-US>“</span>单独协议<span lang=EN-US>”</span>），你在使用该项服务前请阅读并同意相关的单独协议；你使用前述特定服务，即视为你接受相关单独协议。</p>

                  <p><span lang=EN-US>7.1.3</span>作者将会尽其商业上的合理努力保障你在本网站及服务中的数据存储安全，但是，作者并不能就此提供完全保证，包括但不限于以下情形：</p>

                  <p><span lang=EN-US>7.1.3.1 </span>作者不对你在本网站及服务中相关数据的删除或储存失败负责；</p>

                  <p><span lang=EN-US>7.1.3.2 </span>作者有权根据实际情况自行决定单个用户在本网站及服务中数据的最长储存期限，并在服务器上为其分配数据最大存储空间等。你可根据自己的需要自行备份本网站及服务中的相关数据；</p>

                  <p><span lang=EN-US>7.1.3.3 </span>如果你停止使用本网站及服务或服务被终止或取消，作者可以从服务器上永久地删除你的数据。服务停止、终止或取消后，作者没有义务向你返还任何数据。</p>

                  <p><span lang=EN-US>7.1.4 </span>用户在使用本网站及服务时，须自行承担如下来自作者不可掌控的风险内容，包括但不限于：</p>

                  <p><span lang=EN-US>7.1.4.1 </span>由于不可抗拒因素可能引起的个人信息丢失、泄漏等风险；</p>

                  <p><span lang=EN-US>7.1.4.2 </span>用户必须选择与所安装终端设备相匹配的软件版本，否则，由于软件与终端设备型号不相匹配所导致的任何问题或损害，均由用户自行承担；</p>

                  <p><span lang=EN-US>7.1.4.3 </span>用户在使用本网站访问第三方网站时，因第三方网站及相关内容所可能导致的风险，由用户自行承担；</p>

                  <p><span lang=EN-US>7.1.4.4 </span>用户发布的内容被他人转发、分享，因此等传播可能带来的风险和责任；</p>

                  <p><span lang=EN-US>7.1.4.5 </span>由于无线网络信号不稳定、无线网络带宽小等原因，所引起的切糕世界登录失败、资料同步不完整、页面打开速度慢等风险。</p>

                  <p><span lang=EN-US>7.2 </span>第三方产品和服务</p>

                  <p><span lang=EN-US>7.2.1 </span>你在使用本网站第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。作者和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。</p>

                  <p><span lang=EN-US>7.2.2 </span>因用户使用本网站或要求作者提供特定服务时，本网站可能会调用第三方系统或者通过第三方支持用户的使用或访问，使用或访问的结果由该第三方提供（包括但不限于第三方通过插件提供的服务，或通过开放平台接入的内容等），作者不保证通过第三方提供服务及内容的安全性、准确性、有效性及其他不确定的风险，由此若引发的任何争议及损害，与作者无关，作者不承担任何责任。</p>

                  <p><span lang=EN-US>7.2.3 </span>你理解并同意，作者有权决定将本网站作商业用途，包括但不限于开发、使用本网站的部分服务为第三方作推广等，作者承诺在推广过程中严格按照本协议约定保护你的个人信息，同时你亦可以根据系统设置选择屏蔽、拒绝接收相关推广信息。</p>

                  <p><span lang=EN-US>&nbsp;</span></p>

                  <p><b>八、用户行为规范</b></p>

                  <p><span lang=EN-US>8.1 </span>信息内容规范</p>

                  <p><b><span lang=EN-US>8.1.1 </span>本条所述信息内容是指用户使用本网站及服务过程中所制作、复制、发布、传播的任何内容，包括但不限于切糕世界账号头像、名字、用户说明等注册信息，或文字、语音、图片等发送、回复、评论和相关链接页面，以及其他使用切糕世界帐号或本网站及服务所产生的内容。</b></p>

                  <p><b><span lang=EN-US>8.1.2 </span>你理解并同意，作者一直致力于为用户提供文明健康、规范有序的网络环境，你不得利用切糕世界帐号或本网站及服务制作、复制、发布、传播如下干扰切糕世界正常运营，以及侵犯其他用户或第三方合法权益的内容，包括但不限于：</b></p>

                  <p><b><span lang=EN-US>8.1.2.1 </span>发布、传送、传播、储存违反国家法律法规禁止的内容：</b></p>

                  <p><b>（<span lang=EN-US>1</span>）违反宪法确定的基本原则的；</b></p>

                  <p><b>（<span lang=EN-US>2</span>）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</b></p>

                  <p><b>（<span lang=EN-US>3</span>）损害国家荣誉和利益的；</b></p>

                  <p><b>（<span lang=EN-US>4</span>）煽动民族仇恨、民族歧视，破坏民族团结的；</b></p>

                  <p><b>（<span lang=EN-US>5</span>）破坏国家宗教政策，宣扬邪教和封建迷信的；</b></p>

                  <p><b>（<span lang=EN-US>6</span>）散布谣言，扰乱社会秩序，破坏社会稳定的；</b></p>

                  <p><b>（<span lang=EN-US>7</span>）散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</b></p>

                  <p><b>（<span lang=EN-US>8</span>）侮辱或者诽谤他人，侵害他人合法权益的；</b></p>

                  <p><b>（<span lang=EN-US>9</span>）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；</b></p>

                  <p><b>（<span lang=EN-US>10</span>）以非法民间组织名义活动的；</b></p>

                  <p><b>（<span lang=EN-US>11</span>）不遵守法律法规、社会主义制度、国家利益、公民合法利益、公共秩序、社会道德风尚和信息真实性等<span
                  lang=EN-US>“</span>七条底线<span lang=EN-US>”</span>要求的；</b></p>

                  <p><b>（<span lang=EN-US>12</span>）含有法律、行政法规禁止的其他内容的。</b></p>

                  <p><b><span lang=EN-US>8.1.2.2 </span>发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；</b></p>

                  <p><b><span lang=EN-US>8.1.2.3 </span>涉及他人隐私、个人信息或资料的；</b></p>

                  <p><b><span lang=EN-US>8.1.2.4 </span>发表、传送、传播骚扰、广告信息、过度营销信息及垃圾信息或含有任何性或性暗示的；</b></p>

                  <p><b><span lang=EN-US>8.1.2.5 </span>其他违反法律法规、政策及公序良俗、社会公德或干扰切糕世界正常运营和侵犯其他用户或第三方合法权益内容的信息。</b></p>

                  <p><span lang=EN-US>8.2 </span>软件使用规范</p>

                  <p><b><span lang=EN-US style='color:red'>8.2.1 </span><span
                  style='color:red'>除非法律允许或作者书面许可，你使用本网站过程中不得从事下列行为：</span></b></p>

                  <p><b><span lang=EN-US style='color:red'>8.2.1.1 </span><span
                  style='color:red'>删除本网站及其副本上关于著作权的信息；</span></b></p>

                  <p><b><span lang=EN-US style='color:red'>8.2.1.2 </span><span
                  style='color:red'>对本网站进行反向工程、反向汇编、反向编译，或者以其他方式尝试发现本网站的源代码；</span></b></p>

                  <p><b><span lang=EN-US style='color:red'>8.2.1.3 </span><span
                  style='color:red'>对作者拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等；</span></b></p>

                  <p><b><span lang=EN-US>8.2.1.4 </span>对本网站或者本网站运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及本网站运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非经作者授权的第三方工具<span
                  lang=EN-US>/</span>服务接入本网站和相关系统；</b></p>

                  <p><b><span lang=EN-US>8.2.1.5 </span>通过修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的；</b></p>

                  <p><b><span lang=EN-US>8.2.1.6 </span>通过非作者开发、授权的第三方软件、插件、外挂、系统，登录或使用本网站及服务，或制作、发布、传播上述工具；</b></p>

                  <p><b><span lang=EN-US>8.2.1.7 </span>自行或者授权他人、第三方软件对本网站及其组件、模块、数据进行干扰；</b></p>

                  <p><b><span lang=EN-US>8.2.1.8 </span>其他未经作者明示授权的行为。</b></p>

                  <p><b><span lang=EN-US>8.2.2 </span>你理解并同意，基于用户体验、切糕世界或相关服务平台运营安全、平台规则要求及健康发展等综合因素，作者有权选择提供服务的对象，有权决定功能设置，有权决定功能开放、数据接口和相关数据披露的对象和范围。针对以下情形，有权视具体情况中止或终止提供本服务，包括但不限于：</b></p>

                  <p><b><span lang=EN-US>8.2.2.1 </span>违反法律法规或本协议规定的；</b></p>

                  <p><b><span lang=EN-US>8.2.2.2 </span>影响服务体验的；</b></p>

                  <p><b><span lang=EN-US>8.2.2.3 </span>存在安全隐患的；</b></p>

                  <p><b><span lang=EN-US>8.2.2.4 </span>与切糕世界或其服务平台已有主要功能或功能组件相似、相同，或可实现上述功能或功能组件的主要效用的；</b></p>

                  <p><b><span lang=EN-US>8.2.2.5 </span>界面、风格、功能、描述或使用者体验与切糕世界或其服务平台类似，可能造成切糕世界用户认为其所使用的功能或服务来源于切糕世界作者或经切糕世界作者授权的；</b></p>

                  <p><b><span lang=EN-US>8.2.2.6 </span>违背切糕世界或其服务平台运营原则，或不符合切糕世界其他管理要求的。</b></p>

                  <p><span lang=EN-US>8.3 </span>服务运营规范</p>

                  <p><b>除非法律允许或作者书面许可，你使用本服务过程中不得从事下列行为：</b></p>

                  <p><b><span lang=EN-US>8.3.1 </span>提交、发布虚假信息，或冒充、利用他人名义的；</b></p>

                  <p><b><span lang=EN-US>8.3.2 </span>诱导其他用户点击链接页面或分享信息的；</b></p>

                  <p><b><span lang=EN-US>8.3.3 </span>虚构事实、隐瞒真相以误导、欺骗他人的；</b></p>

                  <p><b><span lang=EN-US>8.3.4 </span>侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；</b></p>

                  <p><b><span lang=EN-US>8.3.5 </span>未经作者书面许可利用切糕世界帐号和任何功能，以及第三方运营平台进行推广或互相推广的；</b></p>

                  <p><b><span lang=EN-US>8.3.6 </span>利用切糕世界帐号或本网站及服务从事任何违法犯罪活动的；</b></p>

                  <p><b><span lang=EN-US>8.3.7 </span>制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；</b></p>

                  <p><b><span lang=EN-US>8.3.8 </span>其他违反法律法规规定、侵犯其他用户合法权益、干扰产品正常运营或作者未明示授权的行为。</b></p>

                  <p><span lang=EN-US>8.4 </span>对自己行为负责</p>

                  <p><b>你充分了解并同意，你必须为自己注册帐号下的一切行为负责，包括你所发表的任何内容以及由此产生的任何后果。你应对本服务中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。作者无法且不会对因前述风险而导致的任何损失或损害承担责任。</b></p>

                  <p><span lang=EN-US>8.5 </span>违约处理</p>

                  <p><b><span lang=EN-US>8.5.1 </span>如果作者发现或收到他人举报或投诉用户违反本协议约定的，作者有权不经通知随时对相关内容进行删除、屏蔽，并视行为情节对违规帐号处以包括但不限于警告、限制或禁止使用部分或全部功能、帐号封禁直至注销的处罚，并公告处理结果。</b></p>

                  <p><b><span lang=EN-US>8.5.2 </span>你理解并同意，作者有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任。</b></p>

                  <p><b><span lang=EN-US>8.5.3 </span>你理解并同意，因你违反本协议或相关服务条款的规定，导致或产生第三方主张的任何索赔、要求或损失，你应当独立承担责任；作者因此遭受损失的，你也应当一并赔偿。</b></p>

                  <p><b><span lang=EN-US>&nbsp;</span></b></p>

                  <p><b>九、知识产权声明</b></p>

                  <p><span lang=EN-US>9.1 </span>切糕世界作者是本网站的知识产权权利人。本网站的一切著作权、商标权、专利权、商业秘密等知识产权，以及与本网站相关的所有信息内容（包括但不限于文字、图片、音频、视频、图表、界面设计、版面框架、有关数据或电子文档等）均受中华人民共和国法律法规和相应的国际条约保护，切糕世界作者享有上述知识产权，但相关权利人依照法律规定应享有的权利除外。</p>

                  <p><span lang=EN-US>9.2 </span>未经切糕世界作者或相关权利人书面同意，你不得为任何商业或非商业目的自行或许可任何第三方实施、利用、转让上述知识产权。</p>

                  <p><b><span lang=EN-US>&nbsp;</span></b></p>

                  <p><b>十、终端安全责任</b></p>

                  <p><span lang=EN-US>10.1 </span>你理解并同意，本网站同大多数互联网软件一样，可能会受多种因素影响，包括但不限于用户原因、网络服务质量、社会环境等；也可能会受各种安全问题的侵扰，包括但不限于他人非法利用用户资料，进行现实中的骚扰；用户下载安装的其他软件或访问的其他网站中可能含有病毒、木马程序或其他恶意程序，威胁你的终端设备信息和数据安全，继而影响本网站的正常使用等。因此，你应加强信息安全及个人信息的保护意识，注意密码保护，以免遭受损失。</p>

                  <p><span lang=EN-US>10.2 </span>你不得制作、发布、使用、传播用于窃取切糕世界帐号及他人个人信息、财产的恶意程序。</p>

                  <p><span lang=EN-US>10.3 </span>维护软件安全与正常使用是作者和你的共同责任，作者将按照行业标准合理审慎地采取必要技术措施保护你的终端设备信息和数据安全，但是你承认和同意作者并不能就此提供完全保证。</p>

                  <p><b><span lang=EN-US>&nbsp;</span></b></p>

                  <p><b>十一、其他</b></p>

                  <p><b><span lang=EN-US>11.1 </span>你使用本网站即视为你已阅读并同意受本协议的约束。作者有权在必要时修改本协议条款。你可以在本网站的最新版本中查阅相关协议条款。本协议条款变更后，如果你继续使用本网站，即视为你已接受修改后的协议。如果你不接受修改后的协议，应当停止使用本网站。</b></p>

                  <p><span lang=EN-US>11.2 </span>本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>

                  <p><span lang=EN-US>12.3 </span>若你和切糕世界作者之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，你同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。</p>

                  <p><span lang=EN-US>12.4 </span>本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>

                  <p><span lang=EN-US>12.5 </span>本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。（正文完）</p>

                  <p align=right style='text-align:right'>切糕世界平台开发者</p>
                  </div>

{#                  <button class="uk-button uk-button-primary uk-width-1-1" onclick="">我已阅读完毕并同意以上所有内容</button>#}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
