<!DOCTYPE html>
<html>
<head>
    <title>切糕世界 - 登录</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static "favicon.ico" %}" rel="shortcut icon">
    <link rel="stylesheet" href="{% static "assets/css/uikit.min.css" %}"/>
    <script src="{% static "assets/js/jquery-3.2.1.js" %}"></script>
    <script src="{% static "assets/js/csrf.js" %}"></script>
    <script src="{% static "assets/js/uikit.min.js" %}"></script>
    <script src="{% static "assets/js/uikit-icons.min.js" %}"></script>
</head>

<body>
<div class="uk-container uk-container-center uk-margin-top">
    <div class="uk-align-center uk-width-large">
        <div class="uk-card uk-card-default" style="background-image:url({% static "assets/images/bkg3.png" %});">
            <div class="uk-card-header">
                <h1>登录切糕世界</h1>
                <p>使用服务器账号密码登录</p> 
            </div>
            <div class="uk-card-body">
                <form id="login_form" role="form" method="post">
                    {% csrf_token %}
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-large\@l">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input name="username" id="username" class="uk-input" type="text" placeholder="用户名">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-large\@l">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input name="password" id="password" class="uk-input" type="password" placeholder="密码"
                                   onkeydown="EnterPress(this)">
                        </div>
                    </div>
                    <div>
                        <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
                            <label class="uk-text-muted"><input class="uk-checkbox" type="checkbox" checked>
                                自动登录</label>
                            {% comment %} <a href="/wenjuan/index" class="uk-link-text">注册账号</a> {% endcomment %}
                            {% comment %} <span onclick="register()" class="uk-link-text">注册账号</span> {% endcomment %}
                            <!-- <a href="/forgotten" class="uk-link-text">忘记密码</a> -->
                        </div>
                        <label>进入切糕世界即表明同意<a href="agreement">用户协议</a></label>
                    </div>
                    <div>
                        <a>&nbsp;</a>
                    </div>
                    <button type="button" id="submit" name="submit"
                            class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
                        登录
                    </button>
                </form>
            </div>
            <div class="uk-card-footer">
                Version: {{ PROJECT_VERSION }}
            </div>
        </div>
    </div>
</div>

</body>

<script>
    function EnterPress(e) { //传入 event
        var e = e || window.event;
        if (e.keyCode === 13) {
            document.getElementById("submit").click();
        }
    }
    $(document).ready(
        function () {
            $("#submit").click(
                function () {
                    var username = $("#username").val();
                    var password = $("#password").val();

                    $.post("/login_verify", {
                        'username': username,
                        'password': password
                    }, function (ret) {
                        var obj = JSON.parse(ret);
                        if (obj.status == "ok") {
                            $("#username").addClass("uk-form-success");
                            $("#password").addClass("uk-form-success");

                            UIkit.notification({
                                message: obj.msg,
                                status: 'success'
                            });
                            auto(obj.token)

                             setTimeout("jump()", "2000") 
                            
                        } else {
                            $("#username").addClass("uk-form-danger");
                            $("#password").addClass("uk-form-danger");
                            UIkit.notification({
                                message: obj.msg,
                                status: 'danger'
                            });
                        }
                    })
                }
            )
        }
    );
    
    function auto(token){
        var url=[
            {% comment %} "//map.qiegaoshijie.club/test.php?type=autologin", {% endcomment %}
            "//map.qiegaoshijie.club/test.php?type=autologin",
        ];
        for(i in url){
            $("body").append("<iframe style='display:none' src='"+url[i]+"&token="+token+"'></iframe>")
        }
    }
    function jump(){
        {% if  type == 'index' %}
            window.location.href = "/cms/index";
        {% elif oauth_callback != '' %}
            window.location.href = "{{ oauth_callback }}";
        {% else %}
        
            window.location.href = "/dashboard";
        {% endif %}
    }
    function  register(){
        UIkit.notification({
            message: "请直接使用游戏账号登录!",
            status: 'danger'
        });
    }
</script>
<style>
    .uk-card-default{
        border-radius: 20px;
        box-shadow: 0px 5px 15px rgba(0,0,0,.2);
    }
    .uk-card-body{
        padding-top: 0px;
    }
    .uk-input, .uk-select, .uk-textarea{
        border-radius: 20px;
        box-shadow: 0px 5px 15px rgba(0,0,0,.2);
    }
    .uk-checkbox{
        border-radius: 8px;
    }
    .uk-button{
        border-radius: 20px;
        box-shadow: 0px 5px 15px rgba(0,0,0,.2);
    }
</style>
</html>