
    <h1 class="uk-margin-small-top">控制面板</h1>
    <hr class="uk-margin">

    <div uk-grid>
        <div class="uk-width-1-4@m uk-width-1-2@s">
            <div class="uk-card uk-card-hover uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-auto">
                            <span uk-icon="icon: users; ratio: 1.7" class="uk-margin-small-right"></span>
                        </div>
                        <div class="uk-width-expand">
                            <h3>在线用户</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">

                    <canvas id="chart-0" height="100"></canvas>
                </div>
            </div>
        </div>
        <div class="uk-width-1-4@m uk-width-1-2@s">
            <div class="uk-card uk-card-hover uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-auto">
                            <span uk-icon="icon: desktop; ratio: 1.7" class="uk-margin-small-right"></span>
                        </div>
                        <div class="uk-width-expand">
                            <h3>小电视</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <canvas id="chart-1" height="100"></canvas>
                </div>
            </div>
        </div>
        <div class="uk-width-1-4@m uk-width-1-2@s">
            <div class="uk-card uk-card-hover uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-auto">
                            <span uk-icon="icon: credit-card; ratio: 1.7" class="uk-margin-small-right"></span>
                        </div>
                        <div class="uk-width-expand">
                            <h3>授权卡片</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <canvas id="chart-2" height="100"></canvas>
                </div>
            </div>
        </div>
        <div class="uk-width-1-4@m uk-width-1-2@s">
            <div class="uk-card uk-card-hover uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-auto">
                            <span uk-icon="icon: happy; ratio: 1.7" class="uk-margin-small-right"></span>
                        </div>
                        <div class="uk-width-expand">
                            <h3>礼物统计</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <canvas id="chart-3" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>