<!DOCTYPE html>
<html>
<head>
    <title>切糕世界 - Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link href="{% static "favicon.ico" %}" rel="shortcut icon">
    <link rel="stylesheet" href="{% static "assets/css/uikit.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/qiegao.css" %}"/>
    <script src="{% static "assets/js/jquery-3.2.1.js" %}"></script>
    <script src="{% static "assets/js/csrf.js" %}"></script>
    <script src="{% static "assets/js/uikit.js" %}"></script>
    <script src="{% static "assets/js/uikit-icons.min.js" %}"></script>
    <script src="{% static "assets/js/dashboard/my.js"%}?1"></script>
</head>

<body onresize="resize()">


<div class="uk-offcanvas-content">
    <div class="uk-navbar-container uk-sticky" uk-sticky="bottom: #offset">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">
                <span uk-icon="icon: uikit; ratio: 1.7" class="uk-margin-small-right"></span>
                <p class="uk-visible@s">切糕面板</p>
            </a>
            <div class="uk-navbar-left uk-hidden@m">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-push"
                   style="color: dodgerblue"></a>
            </div>
            <div class="uk-navbar-item uk-navbar-right uk-visible@m">
                <div>_(:3」∠)_ 又见面了啊 {{ nickname }}~</div>
            </div>
            <div class="uk-navbar-item uk-navbar-right">
                <div class="uk-inline-clip">
                    <a uk-icon="icon: chevron-down" href="#"><img class="uk-border-circle" width="40" height="40"
                                                                  src="{{ avatar }}"></a>
                </div>
                <div uk-drop="mode: click">
                    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
                        <ul class="uk-nav-default" uk-nav>
                            <li class="uk-nav-header">更多选项</li>
                            <li class="nav" id="user_center" data-page="user_center"
                                data-url="/dashboard#user_center"><a href="#"><span class="uk-margin-small-right"
                                                                                    uk-icon="icon: file-edit"></span>个人中心</a>
                            </li>
                            <li class="nav" id="settings" data-page="settings" data-url="/dashboard#settings">
                                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: settings"></span>设置</a>
                            </li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#" id="logout"><span class="uk-margin-small-right"
                                                              uk-icon="icon: sign-out"></span>退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid-divider" uk-grid>
        <div class="uk-visible@m uk-width-1-5">
            <div uk-sticky="offset:100; bottom: #top">
                <div id="left_panel" class="uk-margin-medium-left uk-margin-small-top"
                     style="overflow-y: auto; width: 100%">
                    <h3 class="uk-margin-medium-bottom">{{ nickname }}</h3>
                    {% include "dashboard/menu.html" %}
                </div>
            </div>
        </div>
        <div class="uk-width-4-5 uk-width-expand uk-margin-medium-left uk-margin-medium-right uk-margin-small-top"
             >
             <div id="main_content">

                 {{ default_html }}
             </div>
             <div class="uk-margin-top uk-text-center" id="loading" aria-hidden="true" hidden>
                    <span uk-spinner></span>
                    加载中...
                </div>
             <div class="uk-margin-top uk-text-center" id="error" aria-hidden="true" hidden>
                    <span uk-icon="warning" style="color:red"></span>
                    加载失败！
                </div>
                
        </div>
        
    </div>

    <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3>{{ nickname }}</h3>
            <div class="tm-sidebar-left">
                {% include "dashboard/menu.html" %}
            </div>
        </div>
    </div>
</div>
</body>

<script>
    function resize() {
        document.getElementById("left_panel").style.height = window.innerHeight - 150 + "px";
    }

    $(document).ready(function () {
        var url=window.location.href;
        var page=url.split("#")[1];
        if(page ==undefined){
            page="user_center";
        }
        var b;
        if((b= page.indexOf("?"))!=-1){
            var _get=page.substring(b+1)
            page=page.substring(0,b)
        }
        ajax = $.ajax(

            {
                url: "/dashboard/page?_=" + Date.parse(new Date()),
                type: "post",
                data: {page: page,_get:_get},
                success: function (res) {
                    $("#main_content").html(res);
                }
            }
        )
    });

    $(function () {
        var ajax, currentState;
        $("#logout").click(
            function () {
                $.post("/logout", {}, function (ret) {
                    var obj = JSON.parse(ret);
                    if (obj.status === "ok") {
                        window.location.href = "/";
                        UIkit.notification({message: obj.msg, status: 'success'});
                    }
                    else {
                        UIkit.notification({message: obj.msg, status: 'danger'});
                    }
                })
            }
        );
        $(".nav").on("click", function (e) {
            if (!!(window.history && history.pushState)) {
                e.preventDefault();
                if (ajax === undefined) {
                    currentState = {
                        url: document.location.href,
                        page: "dashboard",
                        html: $("#main_content").html()
                    }
                }

                var page_name = $(this).data("page");
                $(this).addClass("uk-active");
                $("li").each(function () {
                    if (page_name === $(this).data("page")) {
                        $(this).addClass("uk-active")
                    }
                    else {
                        $(this).removeClass("uk-active")
                    }
                });

                var page_to = $(this).data("page");
                var url_to = "/dashboard#" + page_to;
                ajax = $.ajax(
                    {
                        url: "/dashboard/page?_=" + Date.parse(new Date()),
                        type: "post",
                        data: {page: page_to},
                        success: function (res) {

                            $("#main_content").html(res);


                            var state = {
                                url: url_to,
                                page: page_to,
                                html: res
                            };
                            //$(".nav").removeClass("uk-active");
                            //$(this).addClass("uk-active");
                            history.pushState(state, null, url_to);
                        }
                    }
                )
            }
            else {
                alert("您的浏览器无法正常访问本网页！");
            }
        });
        window.addEventListener('popstate', function (event) {
            if (ajax == null) {
                return;
            }
            else if (event && event.state) {
                $("#main_content").html(event.state.html);
            }
            else {
                $("#main_content").html(currentState.html);
            }
        });
    });
    
</script>
</html>
