<ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
    <li class="uk-nav-header" style="font-size: 12px">DASHBOARD</li>
    <hr class="uk-margin-remove"> {% comment %}
    <li class="nav" data-page="announcement"><a href="#">世界公告</a></li>{% endcomment %}
    <li class="nav" data-page="user_center"><a href="#">个人中心</a></li>
    {% comment %}
    <li class="nav" data-page="news"><a href="#">切糕新闻</a></li>
    <li class="uk-parent">
        <a href="#">糕务公开</a>
        <ul class="uk-nav-sub">
            <li class="nav" data-page="papers"><a href="#">糕头文件</a></li>
            <li class="nav" data-page="project_plan"><a href="#">项目规划</a></li>
            <li class="nav" data-page="community"><a href="#">组织社团</a></li>
        </ul>
    </li>{% endcomment %}
    <li class="uk-parent">
        <a href="#">登记申报</a>
        <ul class="uk-nav-sub">
            <li class="nav" data-page="declaration_center"><a href="#">申报中心</a></li>
            <li class="nav" data-page="declare_buildings"><a href="#">建筑申报</a></li>
            <li class="nav" data-page="declare_animals"><a href="#">动物申报</a></li>
        </ul>
    </li>
    <li class="uk-parent">
        <a href="#">警署</a>
        <ul class="uk-nav-sub">
            <li class="nav" data-page="police_hall"><a href="#">警署大厅</a></li>
            <li class="nav" data-page="call_the_police"><a href="#">我要报警</a></li>
        </ul>
    </li>
    <li class="nav" data-page="world_map"><a href="#">世界地图</a></li>
    <li class="uk-parent">
        <a href="#">其他</a>
        <ul class="uk-nav-sub">
            <li class="nav" data-page="rookies"><a href="#">新糕须知</a></li>
            {% comment %}
            <li class="nav" data-page="tools"><a href="#">实用工具</a></li>{% endcomment %}
            <li class="nav" data-page="settings"><a href="#">账号设置</a></li>
        </ul>
    </li>
    {% if '%whitelist%' in permissions %}
    <li class="uk-parent">
        <a href="#">OP菜单</a>
        <ul class="uk-nav-sub">
            <li class="nav" data-page="whitelist"><a href="#">白名单管理</a></li>
            {% comment %}
            <li class="nav" data-page="tools"><a href="#">实用工具</a></li>{% endcomment %}
            <!-- <li class="nav" data-page="settings"><a href="#">账号设置</a></li> -->
        </ul>
    </li>
    {% endif %} 
</ul>
<ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
    <li class="uk-nav-header" style="font-size: 12px">DASHBOARD</li>
    <hr class="uk-margin-remove">
    {% for m in menu %} 

        {% if m.type == 0 %} 
            <li class="uk-parent">
                <a href="#">{{m.name}}</a>
                <ul class="uk-nav-sub">
            {% for n in menu %} 
                {% if n.parent == m.id %} 
                <li class="nav" data-page="{{n.url}}"><a href="#">{{n.name}}</a></li>
                {% endif %} 
            {% endfor %} 
                </ul>
            </li>
        {% elif m.parent == 0 %} 
            <li class="nav" data-page="{{m.url}}"><a href="#">{{m.name}}</a></li>
        {% endif %} 
    {% endfor %}
</ul>