{% load static %}

<div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
    <div>
        <h2 class="uk-margin-small-top">公告
            <small style="color: #666666; font-size: medium">Announcement</small>
        </h2>
        <div class="uk-position-top-right">
            <a href="#modal-center" class="uk-icon-link uk-margin-top" uk-icon="icon: plus; ratio: 1.5" uk-toggle></a>
        </div>

        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button> 
				{% if '%publish_announcement%' in permissions %} 
					{% include "dashboard/announcement/new_announcement.html" %} 
				{% else %} 
					{% include "dashboard/announcement/permission_denied.html"%} 
				{% endif %}
            </div>
        </div>

        <hr class="uk-margin" /> {% for a in announcements %} {% if a.visible %}
        <div class="uk-grid-match announcement_{{ a.id }}" uk-grid>
            <div class="uk-width-large@m uk-width-xlarge@l">
                <div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body" style="background-color: {{ a.color }}; border-radius: 1em">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="{{ a.avatar }}">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom uk-text-truncate">{{ a.title }}</h3>
                            <p class="uk-visible@s uk-text-meta uk-margin-remove-top">{{ a.publish_time }}</p>
                        </div>
                        <span class="uk-label {{ a.type_label }}">{{ a.type_text }}</span>
                        <button type="button" _id="{{ a.id }}" title="删除这条公告" class="delBtn" uk-close></button>
                    </div>
                    <p class="uk-width-large"><b>{{ a.title }}:</b> <br/> {{ a.content }}</p>
                </div>
            </div>
        </div>
        {% endif %} {% endfor %}
        <p class="uk-text-meta">公告只显示最新5条</p>
    </div>
    <div>

        <h2 class="uk-margin-small-top">状态
            <small style="color: #666666; font-size: medium">Status</small>
        </h2>
        <hr class="uk-margin" />
        <div class="uk-child-width-1-2@l uk-child-width-1-1@s" uk-grid>
            <div class="uk-width-1-2@l">
                <div class="uk-card uk-card-hover uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ favicon }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom uk-text-truncate">当前玩家</h3>
                                <p class="uk-text-meta uk-margin-remove-top uk-text-truncate">
                                    {{ server_address }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body uk-inline">
                        <ul uk-accordion>
                            <li>
                                <a class="uk-article-title uk-accordion-title" href="#" style="font-size: 2.625rem">{{ online_players_number }}/<small class="uk-text-small uk-text-muted">(延迟{{ latency }}ms)</small></a>
                                <div class="uk-accordion-content">
                                    {% for usr in online_players_list %}
                                    <p user_id="{{ usr.id }}" title="{{ usr.nickname }}">{{ usr.name }} </p>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@l">
                <div class="uk-card uk-card-hover uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-auto">
                                <span uk-icon="icon: file-edit; ratio: 1.7" class="uk-margin-small-right"></span>
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom uk-text-truncate">申报/报案</h3>
                                <p class="uk-text-meta uk-margin-remove-top uk-text-truncate">
                                    Buildings / Animals / Cases
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <h1 class="uk-article-title">{{ number_buildings }}/{{ number_animals }}/{{ number_cases }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(
        $(function() {
            $(".delBtn").click(function() {
                var $this = $(this);
                var id = $this.attr('_id');
                $.post("/announcement_delete?_=" + Date.parse(new Date()), {
                    "id": id,
                }, function(obj) {
                    if (obj.status === "ok") {
                        // 我知道，这个写法很不优雅，但我不会写JS
                        $this.parent().parent().parent().addClass('uk-animation-slide-left-small uk-animation-reverse');
                        setTimeout(function() {
                            $this.parent().parent().parent().remove();
                        }, 500);
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
        })
    );
</script>