{% load static %}

<div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
    <div class="uk-inline">
        <h2 class="uk-margin-small-top">公告
            <small style="color: #666666; font-size: medium">Announcement</small>

        </h2>
        <div class="uk-position-top-right">
            <a href="#modal-center" class="uk-icon-link uk-margin-top" uk-icon="icon: plus; ratio: 1.5" uk-toggle></a>
        </div>

        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                {% if '%publish_announcement%' in permissions %}
                    {% include "dashboard/announcement/new_announcement.html" %}
                {% else %}
                    {% include "dashboard/announcement/permission_denied.html" %}
                {% endif %}
            </div>
        </div>

        <hr class="uk-margin"/>
        {% for a in announcements %}
            {% if a.visible %}
                <div class="uk-grid-match announcement_{{ a.id }}" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
                             style="background-color: {{ a.color }}; border-radius: 1em">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="{{ a.avatar }}">
                                </div>
                                <div class="uk-width-large">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ a.title }}</h3>
                                    <p class="uk-text-meta uk-margin-remove-top">{{ a.publish_time }}</p>
                                </div>
                                <span class="uk-label {{ a.type_label }}">{{ a.type_text }}</span>
                                <button type="button" _id="{{ a.id }}" title="删除这条公告" class="delBtn" uk-close></button>
                            </div>
                            <p class="uk-width-large">{{ a.content }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <h2 class="uk-margin-small-top">服务器信息
            <small style="color: #666666; font-size: medium">Announcement</small>
        </h2>
        <hr class="uk-margin"/>
        <div class="uk-card uk-card-hover uk-card-default">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40" src="{{ favicon }}">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">切糕世界</h3>
                        <p class="uk-text-meta uk-margin-remove-top">
                            <time datetime="2016-04-01T19:00">{{ server_address }}</time>
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p><b>MOTD:</b> {{ motd }}</p>
                <p><b>Version: </b> {{ version }}</p>

                <div class="uk-child-width-auto" uk-grid>
                    <div>
                        <b>Players:&nbsp;</b>
                    </div>
                    <div>
                        <ul uk-accordion>
                            <li>
                                <p class="uk-accordion-title" href="#"
                                   style="font-size: 16px;">{{ online_players_number }} / {{ max_players_number }}</p>
                                <div class="uk-accordion-content">
                                    {% for usr in online_players_list %}
                                        <p user_id="{{ usr.id }}">{{ usr.name }}</p>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <p><b>Ping: </b> {{ ping }}ms</p>
            </div>
            <div class="uk-card-footer">
                <a href="http://map.qiegaoshijie.club" class="uk-button uk-button-text">打开世界地图</a>
            </div>
        </div>
    </div>


</div>
<script>
    $(document).ready(
        $(function () {
            $(".delBtn").click(function () {
                var $this = $(this);
                var id = $this.attr('_id');
                $.post("/announcement_delete?_=" + Date.parse(new Date()), {
                    "id": id,
                }, function (obj) {
                    if (obj.status === "ok") {
                        // 我知道，这个写法很不优雅，但我不会写JS
                        $this.parent().parent().parent().addClass('uk-animation-slide-left-small uk-animation-reverse');
                        setTimeout(function () {
                            $this.parent().parent().parent().remove();
                        }, 500);
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> ' + obj.msg,
                            status: 'success',
                            timeout: 2000
                        });
                    } else {
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span> ' + obj.msg,
                            status: 'danger',
                            timeout: 2000
                        })
                    }
                }, "json")
            });
        })
    );
</script>