{% load static %}
<h2>日志
    <small style="color: #666666; font-size: medium">Log list</small>
</h2>
<hr class="uk-margin" />
<div class="uk-alert-primary" uk-alert id="tips" style="display:none">
    <a class="uk-alert-close" uk-close></a>
    <p></p>
</div>
<a href="/ops/log_list" target="_blank">新标签页打开</a>
<iframe id="frame" src="/ops/log_list" frameborder="0" width="100%" height="100%"></iframe>

<script>
    $(function(){
        document.getElementById("frame").height=window.innerHeight-243;
    });

</script>

